<settings>
    <category label="Erscheinungsbild">
        <setting id="sort" label="Sortierung" type="bool" default="false"/>
        <setting id="add" label="Zeige hinzufügen Button" type="bool" default="false"/>
        <setting id="edit" label="Zeige Befehle" type="bool" default="false"/>
    </category>
    <category label="Wiederherstellung">
        <setting type="lsep" label="(ZIP-Datei mit Ordnerverzeichnis)"/>
        <setting id="url" label="folders.zip URL" type="text" default="https://droidiptv.github.io/folders.zip"/>
        <setting id="replace" label="Ersetze alles" type="action"
                 action="RunPlugin(plugin://plugin.program.archiv/nuke)"/>
    </category>
</settings>